{% extends "base.html" %}
{% block content %}
<h5 class="secondary-color text-center-align">
  All Episode to be Reviewed
</h5>
    <ul class="collapsible">
        {% for review in reviews %}
        <li class="quaternary-color-border">
          <div class="collapsible-header">
            <div class="col s3">
              <i class="fas fa-caret-down secondary-color quinary-color-border quaternary-bg"></i>
              <a href="" class="btn-small green accent-4">Done</a>
              <a href="" class="btn-small light-blue lighten-1">Edit</a>
            </div>
            <div class="col s9">
              <strong class="quaternary-color">{{ review.new_episode_review }}</strong>&nbsp;&nbsp; : &nbsp;&nbsp; <span class="quinary-color">{{ review.due_date }}</span>
              {% if review.been_reviewed == "on" %}
              &nbsp;&nbsp;&nbsp;&nbsp;<i class="fas fa-exclamation-circle fas fa-clapperboard secondary-color tooltipped " data-position="right" data-tooltip="Needs Review"></i>
              {% endif %}
            </div>
          </div>
          <div class="collapsible-body">
            <strong>{{ review.new_episode_review }}</strong>
            <p>{{ review.episode_to_review }}</p>
            <p>{{ review.episode_review_description }}</p>
            <p><em>by: {{ review.created_by }}</em></p>
          </div>
        </li>
        {% endfor %}
      </ul>
            

{% endblock %}