{% extends "base.html" %}
{% block content %}


    {% for review in reviews %}
        {{ review.episode_to_review }}
        {{ review.new_episode_review }}<br>
        {{ review.episode_review_description }}<br>
        {{ review.been_reviewed }}<br>
        {{ review.due_date }}<br>
    {% endfor %}

    <ul class="collapsible">
        <li>
          <div class="collapsible-header"><i class="fas fa-caret-down"></i>First</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-caret-down"></i>Second</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="fas fa-caret-down"></i>Third</div>
          <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
      </ul>
            

{% endblock %}