{% extends "base.html" %}
{% block content %}
<h3 class="center-align">Sign Up</h3>
<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('signup')}}">
        <div class="card-panel primary-bg border-tertiary">
            <!-- username-->
            <div class="row">
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-user-plus prefix tertiary-color"></i>
                        <input id="username" name="username" type="text" class="validate">
                        <label for="username">User Name</label>
                    </div>
                </div>
            </div>
            <!-- password -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-user-lock prefix tertiary-color"></i>
                    <input id="password" name="password" type="password" class="validate">
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- signup -->
            <div class="row">
                <button type="submit" class="col s12 btn-large tertiary-color secondary-bg text-shadow">
                    Sign Up <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}